artifacts/
dist/
install/
.vscode/
.idea/
**/cmake*/
node_modules/
/package-lock.json
/package.json
Output/
build_py/
build_python_test/
CLion_*/
wrapper/go/lib/
test/go/bqlog_go_test*
wrapper/go/src/bq/bench_output/
build/test/go/proj_mingw/
